.transactionHistory{
    border-collapse: 2px black;
    width: 700px;
    text-align: center;
    border: 2px solid;
    background-color: antiquewhite;
}
.head{
    border: 2px solid;
    background-color: beige;
    font-family: monospace;
    font-size: 24px;
}